body{
    margin: 0;
}


@media screen and (max-width:500px)
{
    body{
        margin: 1vw;
        margin-bottom:0;
    }
    
    #indexWrap{
        display:grid;
        width:100%;
        height:110vh;
        gap:1vw;

        grid-template-columns:25% 25% 1fr 25%;
        grid-template-rows:10vh 25vh 20vh 1fr 15vh 1fr 10vh;
        grid-template-areas:
        'nv nv nv nv'
        'hd hd hd hd'
        'img1 img2 img2 img3'
        'sc1 sc1 img4 img4'
        'sc1 sc1 sc2 sc2'
        'as as sc2 sc2'
        'ft ft ft ft';
        
    } 

    #indexNav
    {
        grid-area:nv;
        background-color:red;
    }

    #indexHeader
    {
        grid-area:hd;
        background-color:yellow;
    }

    #indexImg1
    {
        grid-area: img1;
        background-color:greenyellow;
    }

    #indexImg2
    {
        grid-area: img2;
        background-color:blue;
    }
    #indexImg3
    {
        grid-area: img3;
        background-color:pink;
    }
    #indexImg5
    {
        grid-area: img4;
        background-color:gold;
    }
    #indexSection1
    {
        grid-area: sc1;
        background-color:aquamarine;
    }
    #indexSection2{
        grid-area: sc2;
        background-color:blueviolet;
    }
    #indexAside{
        grid-area:as;
        background-color:cornflowerblue;
    }

    #indexFooter
    {
        grid-area:ft;
        background-color:forestgreen;
    }
}