@font-face {
    font-family: pfont;
    src: url(../font/Lexend/Lexend-VariableFont_wght.ttf);
}

div {
    font-family: pfont;
}

.menu{
    height: 100vh;
    width: 25vw;
    background: grey;
    position: fixed;
    top: 0;
    right: -25vw;
    transition: right 0.3s;
    box-shadow: 10px 0px 21px -10px rgba(0,0,0,0.75);
    z-index: 10;
}

.menu-button{
    
    cursor: pointer;
    display: inline;
    position:absolute;
    right:2vw;
}

.show{
    right: 0;
}

.fade-layer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.5);
    display: none;
    z-index: 5;
}

.fade-layer.visible{
    display: block;
}

body{
    background-color:black;
    margin: 0;
}

p,h1,h2,h3,ul,li{
    color:white
}

footer
{
    grid-area:ft;
    background-color:green;
}

nav
{
    background-color:#1e76cb;
    display:flex;
    align-items:center;
    justify-content:space-evenly;
    grid-area:nv;
}

header
{
    display:flex;
    align-items:center;
    justify-content:space-evenly;
}

.indexImg{
    object-fit:fill;
    height:100%;
    width:100%;
}


@media screen and (max-width:500px){
    /*Det allmänna för mobilsidorna*/
    

    /*mobil huvudsidan*/

    #indexWrap{
        display:grid;
        width:100%;
        height:140vh;
        gap:1vw;

        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh 25vh repeat(3,minmax(0vh,1fr)) 10vh;
        grid-template-areas:
        'nv nv nv nv'
        'img1 img2 img2 img3'
        'sc1 sc1 img5 img5'
        'sc1 sc1 sc2 sc2'
        'as  as  sc2 sc2'
        'ft ft ft ft';
    } 

    #indexSection1
    {
        display:flex;
        flex-direction:column;
        grid-area: sc1;
        overflow:scroll;
    }
    #indexSection2{
        display:flex;
        flex-direction:column;
        grid-area: sc2;
        overflow:scroll;
    }
    #indexImg6{
        grid-area:as;
        border: 3px #802626 solid;
        border-radius:10px;
    }

    #indexImg1
    {
        grid-area: img1;
    }

    #indexImg2
    {
        grid-area: img2;
    }
    #indexImg3
    {
        grid-area: img3;
    }

    #indexImg4
    {
        display: none;
    }

    #indexImg5
    {
        grid-area: img5;
    }

    /*mobil mina spel sidan*/

    #minaSpelWrap
    {
        display:grid;
        width:100%;
        height:175vh;
        gap:1vw;

        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:10vh repeat(3,minmax(0vh,2.5fr) minmax(0vh,4fr)) 10vh;
        grid-template-areas:
        'nv nv nv nv'
        'sc1 sc1 sc1 sc1'
        '. ar1 ar1 .'
        'sc2 sc2 sc2 sc2'
        '. ar2 ar2 .'
        'sc3 sc3 sc3 sc3'
        '. ar3 ar3 .'
        'ft ft ft ft';
    }

    #spelText1{
        border:5px solid green; 
        grid-area:sc1;
    }
    #spelText2{
        border:5px solid green; 
        grid-area:sc2;
    }
    #spelText3{
        border:5px solid green; 
        grid-area:sc3;
    }
    #spel1{
        position:relative;
        border:5px solid green; 
        grid-area:ar1;
    }
    #spel2{
        border:5px solid green; 
        grid-area:ar2;
    }
    #spel3{
        border:5px solid green; 
        grid-area:ar3;
    }
}

@media screen and (min-width:501px)
{
    /*Det allmänna för datorsidorna button*/
    
      

    /*Dator huvudsidan*/

    #indexWrap{
        display:grid;
        width:100%;
        height:240vh;
        

        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows: 10vh 35vh repeat(3,minmax(15vh,1fr)) 10vh;
        grid-template-areas:
        'nv nv nv nv'
        'sc3 sc3 sc3 sc3'
        'sc1 sc1 img5 img5'
        'sc1 sc1 sc2 sc2'
        'img6 img6 sc2 sc2'
        'ft ft ft ft';
    } 

    #indexSection3{
        display:flex;
        grid-area:sc3;
        box-shadow: 0 0 15px 3px rgba(255,255,255,0.2);
        margin-top:5vh;
        margin-bottom:5vh;
    }

    #indexSection1
    {
        display:flex;
        flex-direction:column;
        grid-area: sc1;
        border-radius:10px;
    }
    #indexSection2{
        display:flex;
        flex-direction:column;
        grid-area: sc2;
       
        border-radius:10px;
    }

    #indexImg6{
        grid-area:as;
       
        border-radius:10px;
    }

   

    #indexImg1
    {
        grid-area: img1;
    }

    #indexImg2
    {
        grid-area: img2;
    }
    #indexImg3
    {
        grid-area: img3;
    }

    #indexImg4
    {
        display: block;
        grid-area: img4;
    }

    #indexImg5
    {
        grid-area: img5;
        border-radius:3px;
    }

    #indexImg6
    {
        grid-area: img6;
        border-radius:3px;
    }

    /*Dator mina spel sidan*/

    #minaSpelWrap
    {
        display:grid;
        width:100%;
        height:200vh;
        gap:1vw;

        grid-template-columns:1fr 1fr 1fr 1fr;
        grid-template-rows:10vh repeat(3,minmax(25vh,2.5fr) minmax(70vh,4fr)) 10vh;
        grid-template-areas:
        'nv nv nv nv'
        'sc1 sc1 sc1 sc1'
        '. ar1 ar1 .'
        'sc2 sc2 sc2 sc2'
        '. ar2 ar2 .'
        'sc3 sc3 sc3 sc3'
        '. ar3 ar3 .'
        'ft ft ft ft';
    }

    #spelText1{
        border:5px solid green; 
        grid-area:sc1;
    }
    #spelText2{
        border:5px solid green; 
        grid-area:sc2;
    }
    #spelText3{
        border:5px solid green; 
        grid-area:sc3;
    }
    #spel1{
        position:relative;
        border:5px solid green; 
        grid-area:ar1;
    }
    #spel2{
        border:5px solid green; 
        grid-area:ar2;
    }
    #spel3{
        border:5px solid green; 
        grid-area:ar3;
    }
}
