#unity-container2{
    height:calc(100% - 42px);
    width:100%;
    top:0px;
    position:absolute;
}

/*Kod från Unity, inte min*/

#unity-container2.unity-mobile2 { 
    width: 100%; height: 100% 
}

#unity-canvas2 { 
    background: #828080 
}

.unity-mobile2 #unity-canvas2 { 
    width: 100%; height: calc(100% - 42px);
}

#unity-loading-bar2 { 
    position: absolute; left: 50%; top: 50%; transform: translate(-50%, -50%); display: none 
}

#unity-logo2 { 
    width: 154px; height: 130px; background: url('unity-logo-light.png') no-repeat center 
}

#unity-progress-bar-empty2 { 
    width: 141px; height: 18px; margin-top: 10px; margin-left: 6.5px; background: url('progress-bar-empty-light.png') no-repeat center 
}

#unity-progress-bar-full2 { 
    width: 0%; height: 18px; margin-top: 10px; background: url('progress-bar-full-light.png') no-repeat center 
}

#unity-footer2 { 
    position: relative 
}

/*.unity-mobile #unity-footer { 
    display: none 
}*/

#unity-logo-title-footer2 { 
    float:left; width: 102px; height: 38px; background: url('unity-logo-title-footer.png') no-repeat center 
}

#unity-build-title2 { 
    float: right; margin-right: 10px; line-height: 38px; font-family: arial; font-size: 18px 
}

#unity-fullscreen-button2 { 
    cursor:pointer; float: right; width: 38px; height: 38px; background: url('fullscreen-button.png') no-repeat center 
}

#unity-warning2 { 
    position: absolute; left: 50%; top: 5%; transform: translate(-50%); background: white; padding: 10px; display: none 
}
